@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$debug_color: #ee9999;

$background-primary: #d9d5c8;
$background-secondary: #f5f5ec;
$background-disabled: #b6b6b6;
$color-text: #707070;

$board-size: 95%;
$border-radius: 10px;
$themes-button-size: 80px;

@mixin cursor-pointer {
  cursor: pointer;
}

* {
  cursor: default;
  user-select: none;
  margin: 0;
  padding: 0;
  // outline: 1px dotted $debug_color;
}

body {
  box-sizing: border-box;
  background-color: $background-primary;
  font-family: "Poppins", sans-serif;
  color: $color-text;
  overflow: hidden;
}

.themes {
  position: fixed;
  top: 0;
  left: 0;
  width: $themes-button-size;
  height: $themes-button-size;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: $background-secondary;
  z-index: 1;
  transition: all 0.3s;
  outline: 1px solid $background-primary;

  &:hover {
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
  }

  &:hover &__title {
    color: $color-text;
  }

  &__title {
    position: absolute;
    right: 10%;
    bottom: 27%;
    font-size: 1.2rem;
    color: $background-secondary;
    transition: color 0.2s ease-out;
  }
}

.screens {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transition: margin 0.5s ease-out;

  &.up {
    margin-top: -100vh;
  }
}

.container {
  display: flex;
  width: 1200px;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: $background-secondary;
}

.title {
  height: 90%;
  font-size: 5rem;
  line-height: 2.7;
  letter-spacing: 15px;

  &__first-letter {
    font-size: 10rem;
    letter-spacing: -13px;
    vertical-align: middle;
  }
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  height: 10%;
}

.button {
  @include cursor-pointer;
  width: 140px;
  height: 80%;
  padding: 5px;
  font-size: 1.3rem;
  color: $color-text;
  background-color: $background-primary;
  border: 2px solid $background-primary;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $background-secondary;
    border: 2px solid $background-primary;
  }

  &[data-tip]::after {
    content: attr(data-tip);
    transition: all 0.2s ease-in-out;
  }

  &[data-tip]:hover::after {
    content: attr(data-tip);
    text-shadow: 1px 1px 10px $color-text;
  }

  &[data-tip]:disabled::after {
    text-shadow: 1px 1px 15px $color-text;
  }

  &:disabled {
    background-color: $background-disabled;
  }
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 90%;

  &__field {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: $board-size;
    height: $board-size;
    background-color: $background-primary;
    border-radius: $border-radius;
  }

  &__game-title {
    display: none;
    font-size: 3rem;
  }

  &__circle {
    @include cursor-pointer;
    position: absolute;
    background-color: #e9e5d8;
    box-shadow: 0px 0px 3px 2px #c9c5b8;
    border-radius: 50%;
  }
}

.game-information {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 2rem;
  letter-spacing: 5px;

  &__timer {
    width: 30%;
    text-align: right;
  }

  &__scores {
    width: 30%;
    text-align: left;
  }
}
